# Modify this variable to point to your Harmony OS commandline tools
HARMONY_OS_COMMANDLINE_TOOLS_DIR=/path/to/command-line-tools
export DEVECO_SDK_HOME=${HARMONY_OS_COMMANDLINE_TOOLS_DIR}/sdk
export NODE_HOME=${HARMONY_OS_COMMANDLINE_TOOLS_DIR}/tool/node
export PATH=${HARMONY_OS_COMMANDLINE_TOOLS_DIR}/hvigor/bin:$PATH
